.selected-box {
 border:3px darkgreen solid!important;
}

.grid-box{
  height:50px;background-color: lightgoldenrodyellow;border:1px grey solid;
}

.fixed-num {
  background-color: #909090!important;
}

.error-num{
  background-color: red!important;
  color:white;
}

.b-border-r{
  border-right:2px black solid;
}
.b-border-b{
  border-bottom:3px black solid;
}
